{% extends 'master/base.html' %}
{% load static %}
{% block body %}
    <style>
        a:link {
            text-decoration: none;
        }
    </style>
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-6">

            <div class="card my-3" style="background-color: pink">
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="row my-4">
                    <div class="col-md-12 text-center ">
                        <span>สิ่งที่สนใจ (Interests)</span>
                        <a class="text-white btn btn-black float-end" href="Home">
                            <i class="fas fa-home mx-1">
                            </i>Home
                        </a>
                    </div>
                </div>
                        <div class="row text-dark text-center">
                            <div class="col-md-6 text-center">
                                <img src="{% static "images/Interests/Interests1.jpg" %}" width="89%">
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <h1>เพลงที่ชอบ <br>
                                    Wish you were here - Avril Lavigne<br>
                                    Fire - BTS<br>
                                    As always - Ren Jialun<br>
                                    In the wind - Dew Jirawut<br>
                                </h1>
                            </div>
                        </div>
                        <div class="row text-dark text-center my-3">
                            <div class="col-md-6 d-flex align-items-center">
                                <h1>ซีรี่ที่ชอบ <br>
                                    One And Only - ทุกชาติภพ กระดูกงดงาม<br>
                                    รักในความลับ<br>
                                    ข้านี่แหละองหญิงสาม<br>
                                    ดุจดวงดาวเกียรติยศ<br>
                                </h1>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "images/Interests/Interests2.jpg" %}" width="89%">
                            </div>
                        </div>
                        <div class="row text-dark text-center my-3">
                            <div class="col-md-6 ">
                                <img src="{% static "images/Interests/Interests3.jpg" %}" width="89%">
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <h1>อนิเมะที่ชอบ <br>
                                    Toradora<br>
                                    Angle of death<br>
                                    Tokyo revengers<br>
                                    Jujutsu kaisen - มหาเวทผนึกมาร<br>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                </div>


            </div>

            <div class="card-footer">
                <div class="row ">
                    <div class="col-md-12">
                        <a class="text-white btn btn-black float-start" href="MyEducation">
                            <i class="fas fa-arrow-circle-left mx-1 "></i>
                            <span>ย้อนกลับ</span>
                        </a>
                        <a class="text-white btn btn-black float-end" href="MyProducts">
                            <span>ถัดไป</span>
                            <i class="fas fa-arrow-circle-right mx-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}