{% extends 'master/base.html' %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-xl-12 col-md-6">
            <div class="card my-3">
                <div class="card" style="background-color: pink">
                    <div class="card-body">
                        <div class="row my-4">
                            <div class="col-md-12 text-center ">
                                <span>ลบสินค้า {{ goods.name }}</span>
                                <a class="text-white btn btn-black float-end" onclick="history.back()">
                                    <i class="fas fa-arrow-circle-left mx-1">
                                    </i>Back
                                </a>
                            </div>
                        </div>
                        <form action="{% url 'deleteGood' goods.gid %}" method="POST" id="FormDelete">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 my-3">
                                    <h3>ชื่อสินค้า : {{ goods.name }} </h3>
                                </div>
                                <div class="col-md-5 my-3">
                                    <h3>ยี่ห้อ : {{ goods.brand }} </h3>
                                </div>
                                <div class="col-md-5 my-3">
                                    <h3>รุ่น : {{ goods.model }} </h3>
                                </div>
                                <div class="col-md-5 my-3">
                                    <h3>ราคา : {{ goods.price }} </h3>
                                </div>
                                <div class="col-md-5 my-3">
                                    <h3>จำนวนคงเหลือ : {{ goods.net }} </h3>
                                </div>
                                <div class="col-md-12 my-3">
                                    <h3>ประเภทสินค้า : {{ goods.goodscategory.gc_name }} </h3>
                                </div>
                                <div class="col-md-12 my-3">
                                    <h3>คุณสมบัติ : {{ goods.property }} </h3>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <button class="btn btn-info" onclick="history.back()" type="button">
                                        <i class="fas fa-arrow-alt-circle-left mx-2"></i>Back
                                    </button>
                                    <button class="btn btn-danger float-end" onclick="deleteConfirm()" type="button">
                                        <i class="fas fa-trash mx-2"></i>Delete
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block java %}
    <script>
        function deleteConfirm() {
            Swal.fire({
                title: 'คุณต้องการจะลบจริงมั้ย?',
                showDenyButton: true,
                confirmButtonText: 'ลบ',
                denyButtonText: `ยกเลิก`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#FormDelete').submit();
                } else if (result.isDenied) {
                    Swal.fire('ยกเลิกสำเร็จ', 'info')
                }
            })
        }
    </script>
{% endblock %}