
{% extends 'master/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-6">
            <div class="card my-3">
                <div class="card" style="background-color: pink">
                    <div class="card-body">
                        <div class="row my-4">
                            <div class="col-md-12 text-center ">
                                <span>แสดงรายการสินค้าทั้งหมด (Show Goods List)</span>
                                <a class="text-white btn btn-black float-end" href="{% url 'Home' %}">
                                    <i class="fas fa-home mx-1">
                                    </i>Home
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <style>
                                table.table-bordered > tbody > tr > td {
                                    border: 3px solid black;
                                }
                            </style>
                            <table class="table table-bordered">
                                <thead class="text-center text-white bg-dark">
                            <tr>
                                <th>รหัสสินค้า</th>
                                <th>ชื่อสินค้า</th>
                                <th>ยี่ห้อ</th>
                                <th>รุ่น</th>
                                <th>ราคา</th>
                                <th>จำนวน</th>
                                <th>ประเภท</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-dark text-center" style="font-size: 20px">
                            {% for good in goods%}
                            <tr>
                                <td>{{ good.gid }}</td>
                                <td>{{ good.name }}</td>
                                <td>{{ good.brand }}</td>
                                <td>{{ good.model }}</td>
                                <td>{{ good.price|intcomma }}</td>
                                <td>{{ good.net|intcomma }}</td>
                                <td>{{ good.goodscategory.gc_name }}</td>
                                <td class="text-center">
                                    <a href="{% url 'showGoodsOne' good.gid %}" class="btn btn-primary ">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{% url 'updateGood' good.gid %}" class="btn btn-warning mx-2">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{% url 'deleteGood' good.gid %}" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-md-12">
                    <a href="{% url 'newGoods' %}" class="btn btn-success float-end">
                        <i class="fas fa-plus"></i>
                        เพิ่มสินค้า
                    </a>
                </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
