{% load static %}
<style>
    .navbar-brand{
        color: hotpink !important;
    }
    .nav-link{
        color: pink !important;
    }
</style>
<nav class="navbar navbar-dark navbar-expand-lg "style="background-color: black">
  <div class="container-fluid" >
    <a class="navbar-brand" href="{% url 'Home' %}">KANYARAT TAILIN</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="{% url 'Home' %}"><i class="fa fa-solid fa-house mx-2"></i>หน้าแรก</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'MyHistory' %}"><i class="fa-solid fa-user mx-2"></i>ประวัติส่วนตัว</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'MyEducation' %}"><i class="fa-solid fa-graduation-cap mx-2"></i>ประวัติการศึกษา</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'MyInterests' %}"><i class="fa-solid fa-heart mx-2"></i>สิ่งที่สนใจ</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'MyProducts' %}"><i class="fa-solid fa-cart-shopping mx-2"></i>สินค้าที่นำเสนอขาย</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'MyRoleModel' %}"><i class="fa-solid fa-user-check mx-2"></i>บุคคลต้นแบบ</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'showMyData' %}"><i class="fa-solid fa-database mx-2"></i>showMyData</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'inputProduct' %}"><i class="fa-solid fa-database mx-2"></i>inputProduct</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'listProduct' %}"><i class="fa-solid fa-database mx-2"></i>listProduct</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'showGoodsList' %}"><i class="fa-solid fa-database mx-2"></i>showGoodsList</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'showCustomerList' %}"><i class="fa-solid fa-database mx-2"></i>showCustomerList</a></li>

        </ul>
    </div>
  </div>
</nav>