{% load static %}
<style>
    .navbar-brand{
        color: hotpink !important;
    }
    .nav-link{
        color: pink !important;
    }
</style>
<nav class="navbar navbar-dark navbar-expand-lg "style="background-color: black">
  <div class="container-fluid" >
    <a class="navbar-brand" href="Home">KANYARAT TAILIN</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="Home"><i class="fas fa-solid fa-house"></i>หน้าแรก</a></li>
            <li class="nav-item"><a class="nav-link" href="MyHistory"><i class="fa-solid fa-user"></i>ประวัติส่วนตัว</a></li>
            <li class="nav-item"><a class="nav-link" href="MyEducation"><i class="fa-solid fa-graduation-cap"></i>ประวัติการศึกษา</a></li>
            <li class="nav-item"><a class="nav-link" href="MyInterests"><i class="fa-solid fa-heart"></i>สิ่งที่สนใจ</a></li>
            <li class="nav-item"><a class="nav-link" href="MyProducts"><i class="fa-solid fa-cart-shopping"></i>สินค้าที่นำเสนอขาย</a></li>
            <li class="nav-item"><a class="nav-link" href="MyRoleModel"><i class="fa-solid fa-user-check"></i>บุคคลต้นแบบ</a></li>
            <li class="nav-item"><a class="nav-link" href="showMyData"><i class="fa-solid fa-database"></i>showMyData</a></li>
        </ul>
    </div>
  </div>
</nav>